<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="static/styles.css" />
  <script src="https://unpkg.com/htmx.org@1.9.4"
    integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV"
    crossorigin="anonymous"></script>
  <title>Document</title>
</head>

<body>
  <div class="p-8">
    <form hx-post="/todos" hx-swap="none">
      <input type="text" name="todo" id="todo" placeholder="Insert a todo" />
      <button type="submit">Create</button>
    </form>
    <h1>Todos</h1>
    {% include "todos.html" %}
  </div>
</body>

</html>
