<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="static/styles.css" />
  <script src="https://unpkg.com/htmx.org@1.9.9"
    integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
  <title>Document</title>
</head>

<body hx-boost="true" class="bg-cyan-50 dark:bg-cyan-950 dark:text-white">
  {% include "header.html" %}
  <div class="p-8">
    {% if user_name.is_some() -%}
    <form hx-post="/posts" hx-swap="none" hx-on::after-request="this.reset()">
      <input type="text" name="body" class="text-black" placeholder="Insert a post body" />
      <button type="submit">Create</button>
    </form>
    {%- endif %}
    <h1>Posts</h1>
    {% include "posts.html" %}
  </div>
</body>

</html>
