<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="static/styles.css" />
  <script src="https://unpkg.com/htmx.org@1.9.9"
    integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX"
    crossorigin="anonymous"></script>
  <title>Document</title>
</head>

<body class="dark:bg-cyan-950 dark:text-white">
  <header class="bg-gradient-to-b from-sky-800 to-cyan-600 shadow-md dark:shadow-cyan-400">
    {% if user_name.is_some() -%}
    <p>{{ user_name.unwrap() }}</p>
    {%- else -%}
    {% include "login-form.html" %}
    {%- endif %}
  </header>
  <div class="p-8">
    {% if user_name.is_some() -%}
    <form hx-post="/posts" hx-swap="none" hx-on::after-request="this.reset()">
      <input type="text" name="body" class="text-black" placeholder="Insert a post body" />
      <button type="submit">Create</button>
    </form>
    {%- endif %}
    <h1>Posts</h1>
    {% include "posts.html" %}
  </div>
</body>

</html>
