<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="static/styles.css" />
  <script src="https://unpkg.com/htmx.org@1.9.5"
    integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV"
    crossorigin="anonymous"></script>
  <title>Login</title>
</head>

<body>
  <div class="p-8">
    <label for="login-form">Login</label>
    <form id="login-form">
      <label for="login">Login</label>
      <input id="login" type="text" />
      <label for="password">Password</label>
      <input type="password" id="password" />
    </form>
  </div>
</body>

</html>
